#worktree
.worktrees/

# macOS
.DS_Store

# docs folder
docs/

# config files (root-level only)
config/mining.h
config/mining_ini.h
config/mhs4_ini.h
config/fallen.h
config/ini_config_example.h

# ignore .gitignore itself (not common, but valid)
.gitignore

# styles tests (any file/folder starting with "tests" under styles)
styles/tests
styles/tests.d
styles/test_*
styles/tests.dSYM*

# Agent files
.agents/
skills-lock.json
